.BImage {
  height: 100%;
  width: 100%;
  z-index: 0;
}
#sellit{
	position:relative;
	align-items:center;
	justify-content:center;
	height: 200vh;
	width: 99vw;	
}
#snapdiv{
	    scroll-snap-type: mandatory;
		scroll-snap-points-y: repeat(3rem);
		scroll-snap-type: y mandatory;
}
.FImage {
  position: absolute;
  z-index: 1;
  top: 0;
}
#frame {
    position: relative;

    width: 100%;
    height: 100%;

    background-image: url(earth2.jpg);
    background-position: center;
    background-size: cover; }

#myImg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
	min-width:400px;
    bottom: 0;
	width:50%;
	height:auto;
    display: block;
    margin: auto; }

@import url(//db.onlinewebfonts.com/c/9b62dc86f936227b3f7b367bd0b6c05e?family=Tw+Cen+MT);
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  /*overflow-x: hidden;*/
  width: 100%;
  height: 100%;
  background-color:#d5d0cc;
  z-index:-10;
  font-family: "Tw Cen MT";
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;

  a {
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
  }

  &:hover a {
    color: #d94f5c;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}


.button:hover {
  background: black;
  color: white;
  border: none;
}
.button {
  background: none;
  border: 1px solid black;
  padding: 40px 100px 40px 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
