/* line 4, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

/* line 11, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.header {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
  overflow: hidden;
  transition: 0.45s ease 0.05s;
  max-height: 70px;
}

/* line 18, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.header-title {
  width: 100%;
  font-family: "D-DIN-Bold";
  font-size: 3.3em;
  color: #76323f;
  margin-bottom: 15px;
}

/* line 27, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.team-container {
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

/* line 37, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.person {
  width: calc(25% - 30px);
  cursor: pointer;
  overflow: hidden;
  transition: 0.45s;
  position: relative;
}

/* line 43, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.person-details {
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: -15px;
  transition: 0.3s;
}

/* line 49, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.person-img {
  width: 100%;
}

/* line 52, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.person-title {
  color: #fff;
  font-size: 2em;
}

/* line 56, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.person-desc {
  color: rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
}

/* line 63, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.person-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

/* line 69, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.person-list:hover .person {
  opacity: 0.6;
}

/* line 74, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.person:hover {
  opacity: 1 !important;
}

/* line 77, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.person:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #76323f;
  content: "";
  height: 0px;
  transition: 0.45s;
}

/* line 87, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.person:after {
  content: "\f2ca";
  font-family: "Ionicons";
  font-size: 36px;
  color: #282828;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  left: 0;
  flex-direction: column;
}

/* line 110, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.container-selected .header {
  max-height: 0px;
}

/* line 113, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.container-selected .person {
  opacity: 0 !important;
  pointer-events: none;
}

/* line 117, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.container-selected .person-list .person-selected {
  opacity: 1 !important;
}

/* line 120, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.container-selected .person-list .person-selected:before {
  height: 100%;
}

/* line 123, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.container-selected .person-list .person-selected .person-details {
  margin-top: -40px;
  opacity: 0;
}

/* line 129, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.team-detail {
  position: absolute;
  width: calc(95% - 100px);
  margin-left: 80px;
  right: 80px;
  top: 0;
  height: 100%;
  color: #fff;
  transition: 0.15s;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
}

/* line 143, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.team-detail-bio-content p {
  margin-bottom: 15px;
  line-height: 25px;
  font-size: 1.05em;
}

/* line 150, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.team-detail-header {
  margin-bottom: 30px;
}

/* line 153, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.team-detail-inner {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* line 158, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.team-detail-left {
  position: relative;
  width: 650px;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* line 169, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.team-detail-left:before {
  width: 100%;
  height: 100%;
  content: "";
  background: none;
  /* background: rgba(#282828, 0.8);*/
  position: absolute;
  right: 0;
  top: 0;
}

/* line 179, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.team-detail-left:after {
  width: 100%;
  height: 100%;
  content: "";
  background: none;
  /*background: linear-gradient(
        to right,
        rgba(40, 40, 40, 0) 9%,
        rgba(40, 40, 40, 0) 10%,
        rgba(40, 40, 40, 0) 38%,
        rgba(40, 40, 40, 1) 92%,
        rgba(40, 40, 40, 1) 100%
      );*/
  position: absolute;
  right: 0;
  top: 0;
}

/* line 198, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.team-detail-photo {
  position: relative;
  text-align: center;
  z-index: 999;
  width: 100%;
  font-size: 0px;
}

/* line 204, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.team-detail-photo img {
  max-width: 100%;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.3);
}

/* line 209, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.team-detail-right {
  box-sizing: border-box;
  width: calc(95% - 650px);
  min-height: 100%;
  display: flex;
  align-items: center;
  padding-right: 10%;
  position: relative;
  right: 0;
  left: 4%;
  flex-wrap: wrap;
}

/* line 220, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.team-detail-right .person-title {
  font-family: "D-DIN-Bold";
  font-size: 2.2em;
}

/* line 228, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.container-ready .team-detail {
  transition: 0.45s ease 0.3s;
  opacity: 1;
  right: 0;
  visibility: visible;
}

/* line 233, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.container-ready .team-detail img {
  width: 75%;
}

/* line 237, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.container-ready .team-container {
  height: 0px;
  overflow: hidden;
}

/* line 241, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.container-ready .person-selected {
  left: 0px !important;
  top: 0px !important;
  z-index: 99;
  position: fixed;
  height: 100% !important;
  width: 100px !important;
  pointer-events: auto;
}

/* line 249, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.container-ready .person-selected:after {
  opacity: 1;
  visibility: visible;
}

/* line 257, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.person-back:before {
  height: 0px !important;
}

/* line 260, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.person-back .person-details {
  margin-top: -15px !important;
  transition-delay: 0.35s;
  opacity: 1 !important;
}

/* line 267, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.social {
  margin-top: 15px;
}

/* line 269, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.social a {
  color: #76323f;
  font-size: 20px;
  margin-right: 8px;
}

/* line 273, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
.social a:last-child {
  margin-right: 0;
}

@media (max-width: 1200px) {
  /* line 279, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .team-detail-left {
    width: 400px;
    padding: 0 40px;
    box-sizing: border-box;
  }
  /* line 284, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .team-detail-right {
    padding-right: 0;
    width: calc(95% - 440px);
  }
  /* line 288, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .person .person-title {
    font-size: 1.7em;
  }
  /* line 291, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .person-details {
    padding: 0 10px;
  }
}

@media (max-width: 970px) {
  /* line 297, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .team-detail-left {
    width: 100%;
    padding: 50px 50px 30px 50px;
  }
  /* line 300, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .team-detail-left:after {
    /*
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(33, 33, 33, 1) 83%,
        rgba(40, 40, 40, 1) 100%
      );*/
    background: none;
  }
  /* line 310, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .team-detail-right {
    padding: 0 50px;
    width: 100%;
  }
  /* line 314, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .team-detail-header {
    text-align: center;
  }
  /* line 317, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .container-ready .person-selected {
    width: 50px !important;
  }
  /* line 320, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .team-detail {
    width: calc(95% - 50px);
  }
  /* line 323, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .person {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  /* line 328, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .person {
    width: 100%;
    margin-bottom: 50px;
  }
  /* line 332, E:/WeebDev/htdocs/demeter/scss/teamstyle.scss */
  .header {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=teamstyle.css.map */