.App {
  display: flex;
  justify-content: center;
  font-family: Tw Cen MT;
  background: url("./earth_space.jpg") center center;
}

.App-logo {
  width: 40vw;
  pointer-events: none;
  margin-top: 20vh;
}

.App-header {
  margin-left: 35vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 768px) {
  .App-header {
    margin-left: 0vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

.App-link {
  color: #76323f;
}